.sidebox {
	background-color: rgb(250, 250, 250);
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 10px;
	margin-top: 25px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 5px;
	line-height: 24px;
	color: rgb(51, 51, 51);
	display: inline;
}

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0;
	border-radius: 0;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
}