.jumbotron {
	margin-top: 10px;
	margin-bottom: 50px;
	background-image: url(http://placekitten.com/g/1170/240);
	background-repeat: no-repeat;
	color: ghostwhite;
	text-shadow: black 0.3em 0.3em 0.3em;
}
