.header {
	background: gray url("../img/bright-squares.png") repeat;
	margin-bottom: 30px;
}
.sidebar-wrapper {
	width: 40px;
}
.sidebar-nav li span {
	font-size: 250%;
	color: lightgrey;
	margin: 5px;
}
.sidebar-nav {
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
span.home:hover {
	color: #b3251b;
}
span.shop:hover {
	color: #38b44a;
}
span.account:hover {
	color: #dd9d12;
}
span.contact:hover {
	color: #491933;
}
span.cart:hover {
	color: #a5360f;
}
#loginform {
	margin-top: 165px;
	margin-bottom: -50px;
}

/* this is for the top notification bar */
#notification {
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	background: #fde073;
	text-align: center;
	line-height: 2.5;
	overflow: hidden;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow:    0 0 5px black;
	box-shadow:         0 0 5px black;
}