body.full {
	background: url(../img/homebg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1.front {
	font-size: 700%;
	font-family: 'Oregano', cursive;
	text-indent: 5%;
	font-weight: bold;
	margin-top: 150px;
	color: ghostwhite;
}

p.front {
	color: ghostwhite;
	margin-bottom: 15px;
	font-size: 120%;
}
.quote {
	text-indent: each-line 15%;
	margin-bottom: 30px;
	color: ghostwhite;
	font-size: 120%;

}

.registerform {
	margin: 0 auto;
}