.portfolio-item {
	margin-bottom: 10px;
}

.price {
	margin-bottom: 30px;
}

footer {
	margin: 50px 0;
}

.book {
	max-height: 200px;
}

/*add to cart buttons*/
.add {
	display: block;
	margin-top: auto;
}

input#quantity.form-control {
	width: 90px;
}

form.add {
	margin-top: 20px;
}