<phpunit>
	<testsuites>
		<testsuite name="Cheqout Data Design">
			<file>productunittest.php</file>
			<file>productorderunittest.php</file>
			<file>address-test.php</file>
			<file>guest-test.php</file>
			<file>email-test.php</file>
			<file>cheqoutordertest.php</file>
			<!--<file>email-test.php</file>-->
		</testsuite>
	</testsuites>
</phpunit>


<!--
<file>address-test.php</file>
<file>email-test.php</file>
<file>account-test.php</file>
<file>guest-test.php</file>
<file>product-test.php</file>
<file>cheqoutorder-test.php</file>
<file>productorder-test.php</file>
-->