<phpunit>
	<testsuites>
		<testsuite name="Cheqout Data Design">
			<file>emailtest.php</file>
			<file>accounttest.php</file>
			<file>guesttest.php</file>
			<file>addresstest.php</file>
			<file>producttest.php</file>
			<file>cheqoutordertest.php</file>
			<file>productordertest.php</file>
		</testsuite>
	</testsuites>
</phpunit>


<!--
			<file>emailtest.php</file>
			<file>accounttest.php</file>
			<file>guesttest.php</file>
			<file>addresstest.php</file>
			<file>producttest.php</file>
			<file>cheqoutordertest.php</file>
			<file>productordertest.php</file>
-->